extends layout

block script

block content
  div.row
    div.col-sm-12
      h1= title
      hr
  div.row
    div.col-sm-12
      p Breakdown of changes to region population and control. 
        ul
          li Green rows indicate the region leader has changed in the past week.
          li Yellow rows indicate population has changed by more than 50% in the past week.
          li Red rows indicate the region leader has changed and the pop has changed by more than 50%.

  table.table.table-striped.table-bordered
    thead.thead-dark
      tr
        th Region
        th Leader (1 week)
        th 1 Week
        th Yesterday
        th Current
        th Leader (Current)
    tbody
      if (data)
        each val, index in data
          - var status = 0;
          - var disp = "";
          if ( data[index].PrevLeader !== data[index].Leader ) 
            - status += 1;
          if ( data[index].Week !== 0 && data[index].Current != 0 )
            - var w = data[index].Week, c = data[index].Current;
            - var delta = (c - w)/w;
            if ( delta >= 0.5 )
              - status += 2;
          if (status == 1)
            - disp = "table-success"
          if (status == 2)
            - disp = "table-warning"
          if (status == 3)
            - disp = "table-danger"
          
          tr(class=disp)
            td
              a(href="../region/" + data[index].Region) #{data[index].Region}
            td= data[index].PrevLeader
            td= data[index].Week
            td= data[index].Previous
            td= data[index].Current
            td= data[index].Leader
      else
        tr No results provided