extends layout

block script

block content
  div.row
    div.col-sm-12
      h1= title
      hr
  div.row
    div.col-sm-12
      p Breakdown of changes to region population and control

  table.table.table-striped.table-bordered
    thead.thead-dark
      tr
        th Region
        th Leader (1 week)
        th 1 Week
        th Yesterday
        th Current
        th Leader (Current)
    tbody
      if (data)
        each val, index in data
          tr
            td
              a(href="../region/" + data[index].Region) #{data[index].Region}
            td
            td= data[index].Week
            td= data[index].Previous
            td= data[index].Current
            td= data[index].Leader
      else
        tr No results provided